<%- include('../components/head'); %>

<%- include('../components/header'); %>

<div class="container">
    <h1 class="mb-4"><%= lesson.title %></h1>
    <div><%- lesson.sanitizedHtml %></div>
</div>

<%- include('../components/head'); %>